@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font1: 'Poppins', sans-serif;
  --font2: 'Inter', sans-serif;
  --background: #FFFFFF;
  --primary: #21A099;
  --secondary: ;
  --accent: ;
  --text: #828282;
  --heading: #313131;

  --shadow1: 0px 25px 50px 0px rgba(170, 185, 251, 0.30);
  --transition: all 500ms ease;
  --container1: 98%;
}

.font1{
  font-family: var(--font1);
}
.font2{
  font-family: var(--font2);
}



h1 {
  font-size: 60px;
  line-height: 1.1;
  /* letter-spacing: 2px; */
}

button {
  
}
button:hover {
}